<mat-card class="main-form" [formGroup]="loginForm">
  <mat-card-title>{{ 'LOGIN.TITLE' | translate }}</mat-card-title>
  <mat-divider></mat-divider>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'LOGIN.EMAIL_OR_PHONE' | translate }}</mat-label>
    <input matInput formControlName="emailOrPhone"
           [placeholder]="'LOGIN.EMAIL_OR_PHONE_PLACEHOLDER' | translate"
           name="emailOrPhone" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
    <input matInput type="password" formControlName="password"
           [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
           name="password" />
  </mat-form-field>

  <mat-card-actions class="actions-center">
    <button mat-flat-button color="primary" (click)="onLogin()"
            type="submit">{{ 'LOGIN.BUTTON' | translate }}</button>
  </mat-card-actions>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
</mat-card>
